@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
:root {
  --color-background: rgb(0, 0, 60);
  --color-background-darker: rgba(0, 0, 0, 0.25);
  --color-text: rgb(200, 200, 200);
}

* {
  margin: 0;
  padding: 0 2px;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background: var(--color-background);
  color: var(--color-text);
  position: relative;
  padding-top: 55px;
  padding-bottom: 55px;
  min-height: 100vh;
}

.headfoot {
  position: absolute;
  width: 100%;
  padding: 15px;
  background: var(--color-background-darker);
  border-bottom: var(--color-text) solid 1px;
  border-top: var(--color-text) solid 1px;
}

.header {
  top: 0px;
}

.footer {
  bottom: 0px;
}

.links {
  max-width: 800px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.links a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.links a:hover {
  font-weight: bold;
  color: rgb(35, 165, 252);
}

.logo {
  text-align: center;
  margin: 32px 0;
  border-bottom: 2px solid rgb(80, 80, 80);
}

.logo img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid rgb(35, 165, 252);
  margin: 32px auto;
}

.logo h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 52px;
  margin-bottom: 32px;
}

.empresa {
  max-width: 800px;
  margin: 32px auto;
  opacity: 90%;
}

.empresa h2 {
  font-weight: normal;
  font-size: 20px;
  text-align: justify;
}

.empresa p {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.empresa ul {
  margin-top: 15px;
  list-style: none;
  font-size: 16px;
  text-align: center;
}

/* === challenge  2-3 === */

#wrapper h1 {
  text-align: center;
  margin: 80px auto 0px;
  font-size: 38px;
  line-height: 48px;
}

.cards {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto 0px;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  background-color: rgb(40, 40, 185);
  width: 260px;
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
}

.card p {
  margin: 20px 0 0;
}

.card__category {
  background-color: rgba(84, 155, 13, 0.671);
  width: 100px;
  margin: auto;
  /* text-justify: center; */
  font-size: 18px;
  line-height: 28px;
  border-radius: 50px;
}

#title_course {
    text-align: center;
    margin: 20px auto;
}

.page {
  width: 90%;
  /* height: 90%; */
  padding-top: 80vh;
  position: relative;
  margin: 15px auto;
  /* justify-content: center; */
  /* text-align: center; */
  /* top: 5%;
  left: 5%; */
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
