{% extends "layout.njk" %}

{% block header %}
    <title>{{ companyData.companyName }}
        - Sobre</title>
{% endblock %}

{% block content %}

    <div class="logo">
        <img src="./logo.png" alt="logo-empresa"/>
        <h1>{{ companyData.companyName }}</h1>

    </div>
    <div class="empresa">
        <h2>
            {{ companyData.companyDesc }}
        </h2>
        <p>Principais tecnologias utilizadas em nossos projetos:</p>
        <ul>
            {% for item in companyData.companyTec %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}