{% extends "layout.njk" %}

{% block header %}
    <title>The Company - About</title>
{% endblock %}

{% block content %}

    <div class="logo">
        <img src="./logo-empresa.jpg" alt="logo-empresa"/>
        <h1>The Company</h1>

    </div>
    <div class="empresa">
        <h2>
            Somos uma empresa de tecnologia situada em Curitiba, com experiência de mais de 12 anos, dedicada ao desenvolvimento de soluções que atendam às necessidades dos nossos clientes, utilizando as tecnologias mais adequadas à cada caso.
        </h2>
        <p>Principais tecnologias utilizadas em nossos projetos:</p>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Node.JS</li>
            <li>MySQL</li>
        </ul>
    </div>

{% endblock %}