<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
        <link rel="icon" href="./logo.ico" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/styles.css"/>

        {% block header %}
            <title></title>
        {% endblock %}
    </head>

    <body>
        <header class="headfoot header">
            <div class="links">
                {% for item in menu.header %}
                    <a href="{{ item.url }}" {{ 'target="_blank"' if item.new_page }}>{{ item.label }}</a>
                {% endfor %}
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="headfoot footer">
            <div class="links">
                {% for item in menu.footer %}
                    <a href="{{ item.url }}" {{ 'target="_blank"' if item.new_page }}>{{ item.label }}</a>
                {% endfor %}
            </div>
        </footer>
    </body>

</html>