{% extends "layout.njk" %}

{% block header %}
    <title>The Company - Error</title>
{% endblock %}

{% block content %}
    <div class="logo">
        <h1>
            Page not found! Please verify your request.
        </h1>
    </div>
{% endblock %}