{% extends "layout.njk" %}

{% block header %}
    <title>{{ companyData.companyName }}
        - Portfolio</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Portfólio:</h1>
    </div>
    <section class="cards">

        {% for coursePortfolio in coursesPortfolio %}

            <div class="card" id="{{ coursePortfolio.id }}" name="{{ coursePortfolio.name }}">
                <div class="card__logo">
                    <img src="{{ coursePortfolio.img_url }}" alt="{{ coursePortfolio.alt_img }}"/>
                </div>
                <div class="card__modules">
                    <p>{{ coursePortfolio.modules }}
                        Módulos</p>
                </div>
                <div class="card__category">
                    <p>{{ coursePortfolio.category }}</p>
                </div>
            </div>

        {% endfor %}

    </section>
    <script src="/scripts.js"></script>

    {% endblock%}